<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
  <title>FriendLink</title>
</head>
<h2>Add Your Profile</h2>
<form id="addUserForm">
  <input id="newName" placeholder="Name" required><br>
  <input id="newAge" type="number" placeholder="Age" required><br>
  <input id="newNationality" placeholder="Nationality"><br>
  <input id="newGender" placeholder="Gender"><br>
  <input id="newSubjects" placeholder="Favorite Subjects (comma-separated)"><br>
  <input id="newHobbies" placeholder="Hobbies (comma-separated)"><br>
  <input id="newBio" placeholder="Short bio"><br>
  <button type="submit">Add Profile</button>
</form>
</html>