<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
  <title>FriendLink</title>
</head>
<body>
  <nav>
    <div class="navbar">
        <a href="/" class="headers">Home</a>
        <a href="/connect" class="headers">Connect</a>
        <a href="/virtualrooms" class="headers">Virtual Rooms</a>
    </div>
    <div class="login">
        <button type="submit" class="login-btn"><a class="btn-link" href="signin.html"><b>LOGIN</b></a></button>
    </div> 
  </nav>
</body>