<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='virtualrooms.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
  <title>FriendLink</title>
</head>
<nav>
    <div class="logo">
        <a href="/"><img src="static/images/friendlink_logo.png" alt="logo" height="135"></a>
    </div>
    <div class="navbar">
        <a href="/" class="headers">Home</a>
        <a href="/connect" class="headers">Connect</a>
        <a href="/virtualrooms" class="headers">Virtual Rooms</a>
    </div>
    <div class="login">
        <button type="submit" class="login-btn"><a class="btn-link" href="/signin"><b>LOGIN</b></a></button>
    </div> 
  </nav>
<body>
  <div class="forums">
    <a class="box-link" href="http://localhost:3000"><div class="box">Virtual Space 🔷</div></a>
    <a class="box-link" id="studyRoom" href="room/<username>"><div class="box">Study Room 🌱</div></a>
    <a class="box-link" href="/"><div class="box">Movie Theatre 🎥</div>
    <a class="box-link" href="/"><div class="box">Board Game Room ♟️</div></a>
  </div>

  <!-- Link JS file -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>